doctype html

p hello

form(name="uploader", action="/testupload", method="post", enctype="multipart/form-data")
    input(type="file", name="file", id="file")
    input(type="submit", value="Upload")
br
br
br
br
br
br
p multifiles
form(name="uploader", action="/testupload", method="post", enctype="multipart/form-data")
    input(type="file", name="file1", id="file1")
    br
    input(type="file", name="file2", id="file2")
    br
    input(type="file", name="file3", id="file3")
    br
    input(type="file", name="file4", id="file4")
    br
    input(type="file", name="file5", id="file5")
    br
    input(type="file", name="file6", id="file6")
    input(type="submit", value="Upload 22")