//
   Created by urec on 10.01.15.
h1 user.jade
a(href="/logout") logout
h3
   a(href="/remove" title="db.my_collection.chunks.find()") remove files
h3
   a(href="/add") Add files
h3
   a(href="/player") Go to Player
